@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

/* universal section open */


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1398px !important;
    margin: 0 auto;
    padding: 0px 15px;
    width: 100%
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5
}

html {
    overflow-x: hidden;
}

/* universal section close*/

/* common class open */

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}


.com-gap {

    padding: 100px 0px;

}

*/ a {
    text-decoration: none;
    display: inline-block;
}

@font-face {
    font-family: SangBleu-Sunrise;
    src: url("../font/SangBleu\ Sunrise/");
}

:root {
    --btn-background: #E5DCE5;
    --btn-hover: #ab7439;
    --pink: #AA6AAA;
    --white: #FFFFFF;
    --gray: #717175;
    --dark-blue: #18212D;
    --banner-heading: SangBleu-Sunrise;
    --purpole: #AA6AAA;
}

.cmn-btn {
    background-color: var(--btn-background);
    padding: 16px 14px;
    display: inline-block;
    text-decoration: none;
}

.cmn-btn:hover {
    background-color: var(--btn-hover);
}




/* common class close */

/* nav section open */





.header-section {

    position: relative;
    padding: 5px 0px;


}

.nav-logo {
    position: absolute;
    left: 102px;
    max-width: 200px;
    z-index: 2;
    top: 5px;

}

.navbar-nav li {
    margin: 0px 20px;
}

.nav-item a:hover {
    color: var(--btn-hover) !important;
}


.offcanvas {

    flex-direction: row;
    align-items: center;
    /* text-align: center; */

}

.navbar-toggler {

    box-shadow: none !important;
    border: none !important;
    position: relative;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-toggler.active .navbar-toggler-icon {

    opacity: 0;
    transform: translateX(-100%);

}


.navbar-toggler::after {

    content: "";
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    transition: 0.5s linear all;
}

.navbar-toggler::before {

    content: "";
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: -5px;
    transition: 0.5s linear all;
}

.navbar-toggler.active::before {

    transform: rotate(45deg) translateX(11px);

}

.navbar-toggler.active::after {

    transform: rotate(-45deg) translateX(11px);

}

.navbar-toggler-icon {

    background-image: none !important;
    height: 3px !important;
    width: 30px;
    background-color: black;
    transition: 0.5 linear;

}

/* nav section close */



/* banner section open */


.banner-content {
    background-image: url('../images/banner\ real\ image.png');
    /* display: flex; */
    /* padding: 48px 0px ; */
    /* min-height: 100vh; */
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}

.banner-pragraph {
    margin-bottom: 30px;
    margin-top: 22px;
    padding: 0px 280px;
    color: var(--gray);



}

.btn-one {
    background-color: var(--pink);
    /* color:var(--white); */

}

.banner-all {
    padding: 48px 0px 36px 0px;
}

.banner-gif {
    max-width: 1110px;
    margin: 0 auto;
    height: 400px;
    background: rgba(255, 255, 255, 20%);
    border: 1px solid var(--white);
    padding: 13px 15px 0px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white); */

}

.banner-gif img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.banner-txt {
    font-family: var(--banner-heading);
    font-size: 54px;
    font-weight: 400;
    color: var(--dark-blue);
}





/* banner section close */

/* potential section open */

.potential-section {
    padding: 100px 0px;
}

.potential-lft img {
    padding-top: 81px;
}

.potential-right p {
    margin: 72px 0px;
    color: var(--gray);
    font-size: 16px;
    line-height: 1.5;
}

.potential-lft figure {
    max-width: 475px;
    margin: 0 auto;
}

.potential-right {
    max-width: 440px;
    margin: 0 auto;
}

.potential-heading {
    font-family: var(--banner-heading);
    font-size: 50px;
    color: var(--dark-blue);


}

/* potential section close */

/* card section open */

/* .carded p{
    margin: 30px 0px 118px 0px;
} */

.card-section {
    background: linear-gradient(to right, #e2dfe3, #fbfdfc);
}

.card-txt {
    font-family: var(--banner-heading);
    font-size: 50px;
    color: var(--dark-blue);
}

.card {

    padding: 0px;
    margin: 0px;
    border-radius: 10px;

}

.carded img {

    height: 107%;
    border-radius: 10px;

}

.upr-card {
    background-color: var(--purpole);
}

.lower-card {
    background-color: var(--purpole);
}

.carded a {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 16px;
}

.upr-card a {
    color: var(--white);
    font-size: 16px;
}

.lower-card a {
    color: var(--white);
    font-size: 16px;

}

.paragraph-card-text {
    color: var(--gray);

}

.lower-card .paragraph-card-text {
    color: var(--white);

}

.upr-card .paragraph-card-text {
    color: var(--white);
}

.upr-card {
    color: var(--white);
}

.lower-card {
    color: var(--white);
}

.inner-part-heading {
    font-family: var(--banner-heading);
    font-size: 28px;
    /* color: var(--dark-blue) */
}

.card-body p {
    margin-bottom: 85px;
    text-align: justify;

}




/* card section close */



/* testo-section-open */


.testimonials-sec {
    padding: 100px 0px 157px 0px;
}

.subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--black-color) !important;
    line-height: 24px;
    letter-spacing: 0px;
    padding: 10px 18px;
    margin: 0 auto 25px;
    border: 1px solid var(--text-color);
    border-radius: 50px;
    width: fit-content;
}

.title {
    max-width: 554px;
    font-family: "SangBleu-Sunrise";
    font-size: 50px;
    font-weight: 400;
    color: var(--black-color) !important;
    line-height: 54px;
    letter-spacing: 0px;
    margin: 0 auto;
    padding-bottom: 37px;
}

.testimonials-slider {
    max-width: 578px;
    margin: 0 auto 25px;

}

.testimonials-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-slide .testimonials-img {
    transform: scale(0.5);
    filter: grayscale(1);
    transition: 0.5s linear;
}

.slick-slide.sl-next .testimonials-img,
.slick-slide.sl-prev .testimonials-img {
    transform: scale(0.7);
    filter: grayscale(0.5);
}

.slick-slide.slick-current .testimonials-img {
    transform: scale(1);
    filter: grayscale(0);
}

.testimonials-content {
    text-align: center;
}

.testimonials-items p {
    max-width: 809px;
    margin: 0 auto;
}
/* 
.slick-next:before,.slick-prev:before{

    background-color: black;

}  */

.testimonials-slider .slick-next:before,
.testimonials-slider .slick-prev:before{


    background-color: black;

}



/* responcive screen start */

/* extra small device */



@media (min-width: 320px) and (max-width: 575.98px) {

    /* nav section open */

    .offcanvas {

        flex-direction: column;
        text-align: center;

    }




    .cmn-btn {
        font-size: 10px;

    }

    .nav-logo {

        position: absolute;
        max-width: 140px;
        left: 0px;
        bottom: -71px;
    }









    /* nav section close */

    /* banner */

    .banner-txt {

        font-size: 25px;
        margin-bottom: 10px;

    }

    .banner-pragraph {

        font-size: 16px;
        padding: 0px;
        margin: 0px;
        text-align: justify;
        margin-bottom: 20px;

    }

    .banner-gif {

        height: 200px;

    }

    /* banner-close */

    /* about-section */

    .potential-heading {

        font-size: 25px;
        text-align: center;
    }

    .potential-section {

        padding: 20px 0px 0px 0px !important;

    }

    .potential-lft img {

        padding: 20px 0px 0px 0px;

    }

    .potential-right p {

        margin: 20px 0px;

    }

    .cmn-btn {

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;

    }

    /* card-section-open */

    .card-txt {

        font-size: 20px;

    }

    .com-gap {

        padding: 20px 0px 0px 0px;

    }

    /* card-section-open */

    /* testo-sectino-open */

    .subtitle{

        font-size: 20px;

    }

.testimonials-sec{
    

    padding: 20px 0xp 157px 0px !important;

    }


}





/* small device */

@media (min-width: 576px) and (max-width: 767.98px) {

.banner-all{

    padding-top: 80px;
    
}
    
    .banner-txt {

        font-size: 35px;
        margin-bottom: 10px;

    }

    .banner-pragraph {

        font-size: 17px;
        padding: 0px;
        margin: 0px;
        text-align: justify;
        margin-bottom: 20px;

    }

    .banner-gif {

        height: 400px;

    }

    
    /* about-section */

    .potential-heading {

        font-size: 30px;
        text-align: center;
    }

    .potential-section {

        padding: 20px 0px 0px 0px !important;

    }

    .potential-lft img {

        padding: 20px 0px 0px 0px;

    }

    .potential-right p {

        margin: 20px 0px;

    }
/* 
    .cmn-btn {

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;

    } */

    /* card-section-open */

    .card-txt {

        font-size: 30px;

    }

    .com-gap {

        padding: 20px 0px 0px 0px;

    }

    /* card-section-open */

    /* testo-sectino-open */

    .subtitle{

        font-size: 20px;

    }

.testimonials-sec{
    

    padding: 20px 0xp 157px 0px !important;

    }



    /* nav section open */

    .offcanvas {

        flex-direction: column;
        text-align: center;

    }

    .cmn-btn {
        font-size: 10px;
    }

    /* nav section close */

    /* banner-section-open */

    .banner-pragraph {

        padding: 0px 10px;
        text-align: justify;

    }

    /* about-secttion-open */

    .about-child {

        text-align: center;

    }
}


/* medium device */

@media (min-width: 768px) and (max-width: 991.98px) {

    
    /* about-section */

    .potential-heading {

        font-size: 25px;
        text-align: center;
    }

    .potential-section {

        padding: 20px 0px 0px 0px !important;

    }

    .potential-lft img {

        padding: 20px 0px 0px 0px;

    }

    .potential-right p {

        margin: 20px 0px;

    }

    .cmn-btn {

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 20px 0px;

    }

    /* card-section-open */

    .card-txt {

        font-size: 20px;

    }

    .com-gap {

        padding: 20px 0px 0px 0px;

    }

    /* card-section-open */

    /* testo-sectino-open */

    .subtitle{

        font-size: 20px;

    }

.testimonials-sec{
    

    padding: 20px 0xp 157px 0px !important;

    }




    /* nav section open */

    .offcanvas {

        flex-direction: column;
        text-align: center;

    }

    .navbar-nav {
        margin: 75px auto;
    }

    .nav-item .nav-link {
        margin-bottom: 20px;
    }

    .offcanvas {
        flex-direction: column;
        align-items: start;
    }

    .cmn-btn {
        margin: 0 0 0 15px;
    }

    /* nav section close */

    /* banner-section-open */

    .banner-pragraph {

        padding: 0px 10px;
        text-align: justify;

    }

    /* about-secttion-open */

    .about-child {

        text-align: center;

    }



}

/* large device */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* extra large device */

@media (min-width: 1200px) and (max-width: 1399.98px) {}